/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

/* Header */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px 150px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 900;
}

.header-buttons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    
}

.header-buttons a {
    text-decoration: none;
    color: #F9FAF8;
}

/* Hero */
.hero {
    
}
