/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

:root {
    --section-padding: 150px;
    --dark-bg: rgb(31, 41, 55);
    --semi-transparent-bg: rgba(6, 20, 41, 0.9);
    --darker-bg: #161924;
    --section-max-width: 800px;
    --main-color: #f03d5f;
    --main-color-hover: #c72643;
}

h2 {
    font-size: 35px;
}
h3 {
    font-weight: 600;
    margin: 0;
}

button.main {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 20px;

}
button.main:hover {
    background-color: var(--main-color-hover);
}

body {
    margin: 0;
}

/* Header */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--semi-transparent-bg);
    color: #F9FAF8;
    padding: 16px 0;
    justify-content: center;
}

.header .container {
    width: var(--section-max-width);
    margin: 0 var(--section-padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.logo {
    
    font-size: 20px;
    font-weight: 900;
    margin-right: 230px;
    cursor: pointer;
}

.logo:hover {
    color: var(--main-color);
}

.header-buttons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-buttons a:hover {
    color: var(--main-color);
}

/* Hero */
.hero {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px var(--section-padding);
    height: 500px;
    background: linear-gradient(135deg, var(--dark-bg) 20%, rgba(99,48,78,1) 100%);
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: var(--section-max-width);
}

.hero h2 {
    margin: 5px 0;
}
h2.main {
    color: var(--main-color);
}

.hero img {
    width: auto;
    height: 320px;
    flex: 1 0 auto;
}
.hero .text {
    flex: 1 1 auto;
    min-width: 280px;
}
.hero p {
    color: #E5E7EB;
    font-size: 14px;
}

/* Features */
.features {
    color: var(--main-color-hover);
}
.features p {
    color: black;
}

.features .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.features .item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    
}